
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12, 3, 51, 0.3),rgba(12, 3, 51, 0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  .homepage{
    position: absolute;
    top: 60%;
    right: 8%;
    transform: translateY(-50%);
    z-index: 2;
  }

  .homepage a{
    color: #8c9197;
    text-decoration: none;
    padding: 10px 25px;
    background: transparent;
    border: 3px solid;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
  }

  h1{
    font-size: 80px;
    margin: 10px 0 30px;
    line-height: 80px;
    color: #8c9197;
    font-family: 'planet_kosmosregular', Arial, sans-serif;
  }

  .button {
    color: #8c9197;
    border: 3px solid #8c9197;
    font-size: 1.2em;
    font-weight: bold;
    min-width: 150px;
    text-decoration: none;
}

.button1 {
  color: black;
  border: 3px solid #8c9197;
  font-size: 1.2em;
  font-weight: bold;
  min-width: 150px;
  text-decoration: none;
}

.homepage .button:hover {
    background-color: #000;
    border: 3px solid ;
    color: #8c9197;
}

#info{
    min-height:100vh;
    background-color:#8c9197;
  }
  
  .content {
    position: relative;
    top: 250px;
    left: 00px;
    margin: 0 auto;
    max-width: 960px;
    width: 500px;
    height: 150px;
  
  }
  
  #content_drive::after{
    content: "\a";
    white-space: pre;
  }
  
  #content_drive1::after{
    content: "\a";
    white-space: pre;
  }
  #content_drive2::after{
    content: "\a";
    white-space: pre;
  }
  #blank::after{
    content: "\a";
    white-space: pre;
  }
    
  h2{
    font-size: 40px;
    font-family: 'planet_kosmosregular', Arial, sans-serif;
    color: darkred;
  
  }  

  :root { scroll-behavior: smooth; }

  @media only screen and (max-width: 490px) {
    .content {
      position: relative;
      top: 250px;
      left: 00px;
      margin: 0 auto;
      max-width: 960px;
      width: 300px;
      height: 150px;
      font-size: 15px
    }
  
    .homepage a{
      color: #8c9197;
      text-decoration: none;
      padding: 5px 12px;
      background: transparent;
      border: 3px solid;
      border-radius: 50px;
      outline: none;
      cursor: pointer;
    }

    .btn{
      position: static;
      top:70px;
    }

  }

  @media only screen and (max-width: 393px) {
    .content {
      position: relative;
      top: 250px;
      left: 00px;
      margin: 0 auto;
      max-width: 960px;
      width: 300px;
      height: 150px;
      font-size: 15px
    }
  
    .homepage a{
      color: #8c9197;
      text-decoration: none;
      padding: 3px 7px;
      background: transparent;
      border: 3px solid;
      border-radius: 50px;
      outline: none;
      cursor: pointer;
    }

  }

  @media only screen and (max-width: 320px) {
    .content {
      position: relative;
      top: 250px;
      left: 00px;
      margin: 0 auto;
      max-width: 960px;
      width: 200px;
      height: 150px;
      font-size: 15px
    }
  
    .homepage a{
      color: #8c9197;
      text-decoration: none;
      padding: 3px 7px;
      background: transparent;
      border: 3px solid;
      border-radius: 50px;
      outline: none;
      cursor: pointer;
      font-size:9px;
    }

    h1{
      font-size: 40px;
      margin: 10px 0 30px;
      line-height: 80px;
      color: #8c9197;
      font-family: 'planet_kosmosregular', Arial, sans-serif;
    }

  }